body{
    margin:0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:beige;
    padding: 0;
}
h1{
    text-align: center; 
    font-size: 40px; 
    padding: 0.01%;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.informacion-viaje{
    font-size: 40px; 
    padding: 0.8em;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}
.menu-inicio {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 2px solid hsl(0, 0%, 0%);
    background-color: aquamarine;
    
}
main{
    padding: 0.8em;
}
.menu-inicio a{
  font-size: 40px;
  text-decoration: none;
  background: $white;
  padding: 0.2em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.menu-inicio a:hover{
    background-color: black;
    color: aliceblue;
}
.menu-inicio ul{
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
fieldset{
    padding: 0.1%;
    margin: 0%;
    border-width: 5%;
    border-style: hidden;
}
.title{
    align-items: flex-end;
    text-decoration: double;
    font-size: 30px; 
    margin: auto;
    padding: 0.8em auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
img{
    border-radius: 10px;
}
figure{
    padding: 0%;
    margin: 0%;
    align-items: center;
}
.recomendaciones{
    padding: 0%;
    margin: 0%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.recomendacion{
    border: 5px;
    border-style:double;
    border-radius: 15px;
    width: 400px;
    text-align: left;
    align-items: center;
}
.recomendacion:hover{
    background-color: rgb(255, 255, 0);
}
.contenido h2{
    margin: 0.3em;
}
.contenido p{
    margin: 0.3em;
    
}
.dataempresa{
    transition: all 5s ease-in-out;
}

