body{
    margin:1 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:beige;
    padding: 0;
}
h1{
    text-align: center; 
    font-size: 40px; 
    padding: 0.01%;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.menu-inicio a{
    text-decoration: none;
}
.menu-inicio ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}