body{
    margin:1 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:beige;
    padding: 0;
}
h1{
    text-align: center; 
    font-size: 40px; 
    padding: 0.01%;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.informacion-viaje{
    font-size: 40px; 
    padding: 10%;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}
.menu-inicio {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    background-color: aquamarine;
}
.menu-inicio a{
    font-size: 40px;
    text-decoration: none;
}
.menu-inicio a:hover{
    background-color: black;
    color: aliceblue;
}
.menu-inicio ul{
    background-color: aqua;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
fieldset{
    padding: 0.1%;
    margin: 0%;
    border-width: 5%;
    border-style: hidden;
}